@font-face {
  font-family: Socialglyphs;
  src: url(fonts/socialglyphs-regular.svg#socialglyphs-regular) format('svg'), url(fonts/socialglyphs-regular.woff) format('woff'), url(fonts/socialglyphs-regular.eot); }

@font-face {
  font-family: 'Oswald';
  src: url('fonts/oswald-webfont.eot');
  src: local('☺︎'), url("fonts/oswald-webfont.woff") format("woff"), url("fonts/oswald-webfont.otf") format("opentype"), url('fonts/oswald-webfont.ttf') format('truetype'), url("fonts/oswald-webfont.svg#oswald") format("svg"); }

@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "Oswald";
    src: url("fonts/oswald-webfont.woff") format("woff"), url("fonts/oswald-webfont.otf") format("opentype"), url('fonts/oswald-webfont.ttf') format('truetype'), url("fonts/oswald-webfont.svg#oswald") format("svg"); }
 }

@font-face {
  font-family: 'Oswald Light';
  src: url('fonts/oswald-light-webfont.eot');
  src: local('☺︎'), url("fonts/oswald-light-webfont.woff") format("woff"), url("fonts/oswald-light-webfont.otf") format("opentype"), url('fonts/oswald-light-webfont.ttf') format('truetype'), url("fonts/oswald-light-webfont.svg#oswald") format("svg"); }

@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "Oswald Light";
    src: url("fonts/oswald-light-webfont.woff") format("woff"), url("fonts/oswald-light-webfont.otf") format("opentype"), url('fonts/oswald-light-webfont.ttf') format('truetype'), url("fonts/oswald-light-webfont.svg#oswald") format("svg"); }
 }

.nav__inner:after, .container:after, .row:after, .contact__form__outer:after {
  content: "";
  display: table;
  clear: both; }

#bio, #video, #live, .live__transparent, .live__after, #contact {
  position: relative;
  z-index: 100;
  background-color: white;
  padding: 5% 0 10% 0; }

.live__images ul, .contact__links {
  position: relative;
  display: table;
  text-align: center;
  width: 100%; }

.live__images ul *, .contact__links * {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

/* BASE */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background-color: #ffffff;
  color: #3d3d3d;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 0; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

::-moz-selection, ::-moz-selection {
  background: #ff6b59;
  color: #ffffff; }

::-moz-selection, ::selection {
  background: #ff6b59;
  color: #ffffff; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald Light', "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: normal;
  text-rendering: optimizelegibility; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit; }

h1, h2, h3 {
  line-height: 40px; }

h2 {
  margin: 5% 0 10% 0;
  text-align: center;
  font-size: 2rem; }

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px 0;
  text-align: justify; }

.highlight {
  color: #ff6b59;
  font-weight: bold; }

.social-link {
  font-family: Socialglyphs, "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 4rem;
  line-height: 80%; }
  @media only screen and (min-width: 540px) {
    .social-link {
      font-size: 6rem; } }

a {
  color: #ff6b59;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  a:hover {
    color: #e81123;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }

button, input, select, textarea {
  vertical-align: middle; }

a, a:active, a:focus, input, input:active, input:focus, select, select:active, select:focus, textarea, textarea:active, textarea:focus {
  outline: 0 !important; }

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: visible;
  position: static; }

ul {
  padding: 0 0 0 0; }

/* NAV */
#nav {
  width: 100%;
  z-index: 1000;
  background-color: #ffffff; }

.nav__inner {
  background-image: none;
  -webkit-filter: none;
  filter: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0);
  border-color: #FFF;
  padding: 0;
  min-height: 41px; }
  @media only screen and (min-width: 540px) {
    .nav__inner {
      padding: 0 5%; } }

.nav__list {
  float: none;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0;
  position: relative;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  left: 0; }

.nav__list__item {
  display: inline-block;
  float: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none; }
  .nav__list__item a {
    color: #777777;
    font-family: 'Oswald Light', "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px 10px;
    display: block;
    float: none; }
    .nav__list__item a:hover {
      color: #ff6b59;
      -webkit-transition: color 0.5s;
      transition: color 0.5s; }
    @media only screen and (min-width: 540px) {
      .nav__list__item a {
        padding: 10px 15px 10px; } }

.navbar-static-top {
  overflow-x: visible;
  overflow-y: visible;
  position: static;
  margin: 0; }

#undefined-sticky-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* STRUCTURE */
.container {
  max-width: 960px;
  padding: 0 5%;
  width: 90%;
  margin: 0 auto; }

.row {
  overflow: hidden; }

.col-1, .col-2 {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  min-height: 30px; }

.col-1 {
  width: 100%; }

.col-2 {
  width: 47%;
  margin-left: 6%; }
  .col-2:first-child {
    margin-left: 0; }

/* HOME */
#home {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden; }
  #home a {
    width: 100%; }
    #home a:hover {
      color: #ff6b59; }

.home__background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1; }
  @media screen and (max-width: 1024px) {
    .home__background {
      /* Specific to this particular image */
      left: 50%;
      margin-left: -512px;
      /* 50% */ } }

.home__title {
  text-align: left;
  width: 100%;
  height: 100%; }
  @media only screen and (min-width: 540px) {
    .home__title {
      margin: auto 20% auto 10%;
      width: 70%; } }
  @media only screen and (min-width: 768px) {
    .home__title {
      margin: auto 35% auto 15%;
      width: 50%; } }

.home__title__text {
  width: 100%; }
  .home__title__text h1 {
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    line-height: 90vh;
    margin: 0; }

/* BIO */

/* VIDEO */
#video {
  padding-bottom: 15%; }

.video__header .social-link {
  font-size: 2.8rem; }

.video__list {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  display: block; }
  @media only screen and (min-width: 768px) {
    .video__list {
      padding: 0 5%;
      width: 50%;
      float: left; } }

.video__list__item {
  display: none; }
  .video__list__item:last-child {
    margin: 0; }
  @media only screen and (min-width: 768px) {
    .video__list__item {
      margin: 0 0 15% 0;
      display: block; } }

.fluid-width-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0; }

/* LIVE */
#live {
  padding: 5% 0 0 0; }

.live__transparent {
  background-color: rgba(255, 255, 255, 0.85); }
  .live__transparent p {
    text-align: center; }

.live__after {
  padding: 0 0 10% 0; }

.live__images {
  display: none; }
  .live__images ul {
    margin: 10% 0 20px 0; }
    .live__images ul li {
      padding: 0 5%; }
  @media only screen and (min-width: 540px) {
    .live__images {
      display: block; } }

/* CONTACT */

.contact__links {
  width: 90%;
  margin: 0 auto 12.5% auto; }
  @media only screen and (min-width: 540px) {
    .contact__links {
      width: 70%; } }
  .contact__links a {
    width: 33%; }

.contact__form {
  margin-bottom: 30px;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .contact__form {
      width: 66.66667%;
      margin-left: 16.66667%; } }

.contact__form__outer {
  margin-bottom: 0; }

.contact__form__text {
  margin: 0;
  padding: 20px 0 0 0; }

.contact__input {
  border: 1px solid #999;
  background-color: #ffffff;
  color: #333333;
  padding: 10px 15px;
  height: auto;
  font-size: 13px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none !important;
  border-radius: 4px; }
  .contact__input:hover {
    border-color: #ff6b59; }
  .contact__input:focus {
    border-color: #ff6b59;
    background-color: #f9f9f9; }

.contact__button {
  font-size: 18px;
  font-family: 'Oswald Light', "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #ff6b59;
  color: #ffffff;
  padding: 13px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-image: none;
  -webkit-filter: none;
  filter: none;
  text-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .contact__button:hover {
    background-color: #e81123; }

.text-center {
  text-align: center; }

/* FOOTER */
#footer {
  padding-bottom: 0; }

.footer__copyright {
  width: 100%;
  padding: 40px 0;
  background: #ff6b59;
  font-size: 13px;
  font-weight: bold;
  text-align: center; }
  .footer__copyright a {
    color: #ffffff;
    padding: 20px 20px; }
    .footer__copyright a:hover {
      color: #f9f9f9; }

/* PRINT */
@media print {
  @page {
    margin: 0.5cm; }

  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }
