<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bertie Wright</title>
  <meta name="description" content="Bertie Wright Musician">
  <meta name="author" content="Fred Wright">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css">
  <link rel="stylesheet" href="css/main.css">

  <!--[if lt IE 10]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>

<div id="load"></div>

<!-- BACKGROUND -->

<div id="home" class="page-home">
  <img class="bg" src="img/bg.jpg" alt="">
  <a href="#bio" class="scroll-to">
    <div class="bigtextWrap">
      <div id="bigtext">
        <h1>bertie</h1>
      </div>
    </div>
  </a>
</div>

<!-- NAV -->

<nav class="main-menu">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#bio">bio</a></li>
        <li><a href="#video">video</a></li>
        <li><a href="#live">live</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </div>
  </div>
</nav>

{{content}}

<!-- FOOTER -->

<div class="page-footer">

  <div class="copyright">
    <div class="container">
      <a href="http://github.com/fredwright/bertie" target="_blank">design by fred wright</a>
    </div>
  </div>

</div>

<script>
    var _gaq=[['_setAccount','UA-45993573-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script src="js/modernizr/modernizr.js"></script>
<script src="js/jquery/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.sticky/jquery.sticky.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/jquery-smoothscroll/jquery-smoothscroll.min.js"></script>
<script src="js/jquery-form/jquery.form.js"></script>
<script src="js/fitvids/jquery.fitvids.js"></script>
<script src="js/bigtext.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/ajax-mail.js"></script>
<script src="js/wufoo.js"></script>

<script src="js/main.js"></script>

</body>
</html>