
// ====================================================

// UTILITIES

// ====================================================

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

// ====================================================

// text

.text-center {
  text-align: center;
}

.highlight {
  color: $color-secondary;
  font-weight: bold;
}

.social-link {
  font-family: $font-social;
  font-size: 4rem;
  line-height: 100%;
  @include breakpoint(baby-bear) {
    font-size: 6rem;
  }
}

// ====================================================

// structure

%section {
  position: relative;
  z-index: 100;
  background-color: white;
  padding: 5% 0 10% 0;
}

.container {
  @extend %clearfix;
  max-width: 960px;
  padding: 0 5%;
  width: 90%;
  margin: 0 auto;
}

.row {
  overflow:hidden;
  @extend %clearfix;
}

%col {
  overflow:hidden;
  box-sizing: border-box;   
  display: block;
  float: left;
  min-height: 30px;
}
.col-1 {
  @extend %col;
  width: 100%;
}
.col-2 {
  @extend %col;
  width: 100%;
  margin: 0;
  &:first-child {
    margin-left: 0;
  }
  @include breakpoint(baby-bear) {
    width: 47%;
    margin-left: 6%;
  }
}
.col-3 {
  @extend %col;
  width: 100%;
  margin: 0;
  @include breakpoint(mama-bear) {
    width: 2/3*100%;
    margin-left: 1/6*100%;
  }
}

// ====================================================

// placeholders

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// ====================================================