
//===================================================

// VARS

//===================================================

// colors

$color-light: #ffffff;
$color-light-alt: #f9f9f9;
$color-dark: #3d3d3d;
$color-dark-alt: #777777;
$color-secondary: #ff6b59;
$color-secondary-alt: #e81123;

//===================================================

// typography

@font-face {
  font-family: "Socialglyphs";
  src: url("socialglyphs-regular.eot");
  src: url("socialglyphs-regular.eot?#iefix") format("embedded-opentype"),
       url("socialglyphs-regular.svg#socialglyphs-regular") format("svg"), 
  	   url("socialglyphs-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-header: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
$font-nav: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
$font-text: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; 
$font-social: "Socialglyphs", sans-serif; 

//===================================================

// media queries

$break-large: 1026px;
$break-mid: 768px;
$break-small: 540px;

//===================================================