
// ====================================================

/* CONTACT */

// ====================================================

.contact-links {
  @extend .util-vertwrap;
  width: 90%;
  margin: 0 auto 12.5% auto;
  @include breakpoint(baby-bear) {
    width: 70%;   
  }
  a {
    width: 33%;
  }
}  
.social-link {
  font-family: $font-social;
  font-size: 4rem;
  line-height: 80%;
  @include breakpoint(baby-bear) { 
    font-size: 6rem;
  }
}
.contact-form {
  margin-bottom: 30px;
}

.contact-input,
.contact-input[type="text"],
.contact-input[type="email"] {
  border-width: 1px;
  border-color: #999999;
  background-color: $color-light;
  color: #333333;
  padding: 10px 15px;
  height: auto;
  font-size: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  box-sizing: border-box;
}
.contact-input:hover,
.contact-input[type="text"]:hover,
.contact-input[type="email"]:hover,
.contact-input:focus,
.contact-input[type="text"]:focus,
.contact-input[type="email"]:focus {
  border-color: $color-secondary;
  background-color: $color-light-alt;
  color: #222222;
}
.contact-input--textarea {
  height: 160px !important;
  overflow: auto;
  resize: none;
}
.contact-outer {
  margin-bottom: 0;
}
.contact-button {
  font-size: 18px;
  font-family: $font-header;
  text-transform: uppercase;
  background-color: $color-secondary;
  color: $color-light;
  padding: 13px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: none;
  filter: none;
  text-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-button:hover {
  background-color: $color-secondary-alt;
}