
// ====================================================

/* CONTACT */

// ====================================================

.contact-links {
  @extend .util-vertwrap;
  width: 90%;
  margin: 0 auto 12.5% auto;
  @include breakpoint(baby-bear) {
    width: 70%;   
  }
  a {
    width: 33%;
  }
}  
.social-link {
  font-family: $font-social;
  font-size: 4rem;
  line-height: 80%;
  @include breakpoint(baby-bear) { 
    font-size: 6rem;
  }
}
.af-form {
  margin-bottom: 30px;
}
.af-form textarea,
.af-form input[type="text"] {
  border-width: 1px;
  border-color: #999999;
  background-color: $color-light;
  color: #333333;
  padding: 10px 15px;
  height: auto;
  font-size: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
  box-sizing: border-box;
}
.af-form textarea:hover,
.af-form input[type="text"]:hover,
.af-form textarea:focus,
.af-form input[type="text"]:focus {
  border-color: $color-secondary;
  background-color: #eeeeee;
  color: #222222;
}
.af-form textarea {
  height: 160px !important;
  overflow: auto;
  resize: none;
}
.af-form input.error,
.af-form textarea.error {
  border: 1px solid $color-secondary-alt;
}
.af-form .af-outer {
  margin-bottom: 0;
}
.af-form .form-button {
  font-size: 18px;
  font-family: $font-header;
  text-transform: uppercase;
  background-color: $color-secondary;
  color: $color-light;
  padding: 13px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.af-form .form-button:hover {
  background-color: $color-secondary-alt;
}
label.error,
label.ferror {
  color: $color-secondary-alt;
  font-size: 13px;
  padding-left: 16px;
  margin-bottom: 15px;
}
.btn,
.btn:hover {
  background-image: none;
  filter: none;
  text-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}