
// ====================================================

/* FOOTER */

// ====================================================

#footer {
  width: 100%;
  padding: 2em 0;
  background-color: $color-secondary;
  a {
    display: flex;
    justify-content: center;
  }
}

$moon: 3rem;
.footer__moon {
  @include moon($moon, $color-light, $color-secondary);
  float: left;
  width: $moon;
  height: $moon;
  margin: 0 5px 0 0;
}

.footer__text {
  float: left;
  height: $moon;
  color: $color-light;
  h1 {
    font-family: $font-text;
    font-weight: normal;
    height: $moon/2;
    line-height: $moon/2;
    margin: 0;
    font-size: $moon * 5/8;
  }
  h2 {
    float: left;
    font-family: $font-text;
    font-weight: normal;
    height: $moon/2;
    line-height: $moon/2;
    margin: 0;
    font-size: $moon * 3/8;
  }
}

//===================================================