
// ====================================================

// UTILITIES

// ====================================================

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%section {
  position: relative;
  z-index: 100;
  background-color: white;
  padding: 5% 0 10% 0;
}

%vertwrap {
  position: relative;
  display: table;
  text-align: center;
  width: 100%;
}
%vertwrap  * {
  display: table-cell;
  vertical-align: middle;
  text-align: center; 
}

// ====================================================