
// ====================================================

// MIXINS

// ====================================================

@mixin breakpoint($point) {

	@if $point == papa-bear {
		@media only screen and (min-width: $break-large) {
			@content;
		} 
	} @else if $point == mama-bear {
		@media only screen and (min-width: $break-mid) {
			@content;
		} 
	} @else if $point == baby-bear {
		@media only screen and (min-width: $break-small) {
			@content;
		} 
	} @else if $point == mobile-bear {
		@media only screen and (max-width: $break-small) {
			@content;
		} 
	}
}

@mixin moon($size, $color-big, $color-small) {
	& > *:first-child {
  	width: $size;
    height: $size;
    border-radius: 50%;
		background-color: $color-big;
	}
	& > *:nth-child(2) {
	  width: $size/2;
    height: $size/2;
    border-radius: 50%;
		background-color: $color-small;
	  position: relative;
	  overflow: hidden;
	  top: -$size;
	  left: $size/2;
	}
}

// ====================================================