
// ====================================================

/* NAV */

// ====================================================

#nav {
  width: 100%;
  z-index: 1000;
  background-color: $color-light;
}

.nav__inner {
  @extend %clearfix;
  background-image: none;
  filter: none;
  background-color: $color-light;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0);
  border-color: #FFF;
  padding: 0;
  min-height: 41px;
  @include breakpoint(baby-bear) {
    padding: 0 5%;
  }
}

.nav__list {
  float: none;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0;
  position: relative;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  left: 0;
}
.nav__list__item {
  display: inline-block;
  float: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  a {
    color: $color-dark-alt;
    font-family: $font-nav;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px 10px;
    display: block;
    float: none;
    &:hover {
      color: $color-secondary;
      transition: color 0.5s;
    }
    @include breakpoint(baby-bear) {
      padding: 10px 15px 10px;
    }
  }
}

// jQuery sticky
.navbar-static-top {
  overflow-x: visible;
  overflow-y: visible;
  position: static;
  margin: 0;
}
#undefined-sticky-wrapper {
  position: absolute;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

//===================================================