
// ====================================================

/* STRUCTURE */

// ====================================================

.container {
  @extend %clearfix;
  max-width: 960px;
  padding: 0 5%;
  width: 90%;
  margin: 0 auto;
}

.row {
  overflow:hidden;
  @extend %clearfix;
}

%col {
  overflow:hidden;
  box-sizing: border-box;   
  display: block;
  float: left;
  min-height: 30px;
}
.col-1 {
  @extend %col;
  width: 100%;
}
.col-2 {
  @extend %col;
  width: 47%;
  margin-left: 6%;
  &:first-child {
    margin-left: 0;
  }
}

//===================================================