
// ====================================================

/* CONTACT */

// ====================================================


#contact {
  @extend %section;
}

.contact__links {
  @extend %vertwrap;
  width: 90%;
  margin: 0 auto 12.5% auto;
  @include breakpoint(baby-bear) {
    width: 70%;
  }
  a {
    width: 33%;
  }
}

.contact__form {
  margin-bottom: 30px;
  width: 100%;
  @include breakpoint(mama-bear) {
    width: 2/3*100%;
    margin-left: 1/6*100%;
  }
}
.contact__form__outer {
  @extend %clearfix;
  margin-bottom: 0;
}
.contact__form__text {
  margin: 0;
  padding: 20px 0 0 0;
}

.contact__input {
  border: 1px solid #999;
  background-color: $color-light;
  color: #333333;
  padding: 10px 15px;
  height: auto;
  font-size: 13px;
  box-shadow: none;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  resize: none !important;
  border-radius: 4px;
  &:hover {
    border-color: $color-secondary;
  }
  &:focus {
    border-color: $color-secondary;
    background-color: $color-light-alt;
  }
}

.contact__button {
  font-size: 18px;
  font-family: $font-header;
  text-transform: uppercase;
  background-color: $color-secondary;
  color: $color-light;
  padding: 13px 20px 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-image: none;
  filter: none;
  text-shadow: none;
  border: none;
  box-shadow: none;
  background-clip: padding-box;
  transition: all 0.3s ease-out;
  &:hover {
    background-color: $color-secondary-alt;
  }
}

.text-center {
  text-align: center;
}

//===================================================