
// ====================================================

/* LIVE */

// ====================================================

#live {
  @extend %section;
  padding: 5% 0 0 0;
}

.live__transparent {
  @extend %section;
  background-color: rgba(255,255,255,0.85);
  p {
    text-align: center;
  }
}

.live__after {
  @extend %section;
  padding: 0 0 10% 0;
}

//===================================================