<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bertie Wright</title>
  <meta name="description" content="Bertie Wright Musician">
  <meta name="author" content="Fred Wright">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  
  <link rel="stylesheet" href="styles/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="styles/bootstrap-responsive.min.css" type="text/css">
  <link rel="stylesheet" href="styles/0c6e1e46.main.css">

  <!--[if lt IE 10]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>

<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="load"></div>

<!-- BACKGROUND -->

<div id="home" class="page-home">
  <img class="bg" src="images/bg.jpg" alt="">
  <a href="#bio" class="scroll-to">
    <div class="bigtextWrap">

      <div id="bigtext">
        <h1>bertie</h1>
      </div>
    </div>
  </a>
</div>

<!-- NAV -->

<nav class="main-menu">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <ul class="nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#bio">bio</a></li>
        <li><a href="#video">video</a></li>
        <li><a href="#live">live</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </div>
  </div>
</nav>

{{ content }}

<!-- FOOTER -->

<div class="page-footer">

  <div class="copyright">
    <div class="container">
      <a href="http://github.com/fredwright/bertie" target="_blank">design by fred wright</a>
    </div>
  </div>

</div>

<script>
    var _gaq=[['_setAccount','UA-45993573-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script src="scripts/651f14a8.vendor.js"></script>

<script src="scripts/59d54dc4.main.js"></script>

</body>
</html>